[submodule "local-cognito"]
	path = local-cognito
	url = https://github.com/humanmade/local-cognito.git
[submodule "local-pinpoint"]
	path = local-pinpoint
	url = https://github.com/humanmade/local-pinpoint.git
